*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

.container{
    background-color: gray;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}

.quiz-head{
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
}

.quiz{
    padding: 20px 0;
}

.quiz h1{
    font-size: 2rem;
}
.ans{
    background: white;
    color: black;
    width: 100%;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.ans:hover{
    background: black;
    color: white;
}
.next-button{
    background: green;
    color: white;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}