*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbefe4;
}

.container{
    background-color: #91b8d0;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    color: #555558;
}

.quiz-head{
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.quiz{
    padding: 20px 0;
}

.quiz h1{
    font-size: 1.6rem;
}

.ans{
    background: rgba(234, 243, 248, 0.753);
    
    width: 100%;
    border: 1px solid rgba(84, 152, 255, 0.812);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(98, 99, 99);
}
.ans:hover{
    background: rgb(137, 148, 189);
    color: white;
}
.bt{
    background: #769FCD;
    color: white;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.pie-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 15px;
    color: #555558;
}
.circular{
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular::before{
    content: "";
    position: absolute;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #ffffff;

}

.circular-progress{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #555558;
}

.text{
    font-size: 20px;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.start-instruction{
    padding: 20px;
    text-align: center;
}

